{% extends 'lognav.html' %}

{% block content %}
{% load static %}

  <div class="dashboard">
    <h1>Welcome to the Dashboard</h1>
    <div class="dashboard-items">
      <a href="{% url 'addings' %}">
        <div class="dashboard-item">
          <img src="/static/images/rr.png" alt="Add Students">

          <p>Add Students</p>
        </div>
      </a>
      <a href="{% url 'addcourse' %}">
        <div class="dashboard-item">
          <img src="/static/images/ff.png"  alt="Add Course">
          <p>Add Course</p>
        </div>
      </a>
      <a href="{% url 'teacher' %}">
        <div class="dashboard-item">
          <img src="/static/images/tt.png" alt="Show Teacher">
          <p>Show Teacher</p>
        </div>
      </a>
      <a href="{% url 'showdetails' %}">
        <div class="dashboard-item">
          <img src="/static/images/cc.png"alt="Show Student">
          <p>Show Student</p>
        </div>
      </a>
    </div>
  </div>
  <style>
    .dashboard {
      margin: 50px;
      padding: 20px;
      background-color: #f7f7f7;
      border-radius: 10px;
    }

    h1 {
      font-size: 36px;
      text-align: center;
      margin-bottom: 30px;
    }

    .dashboard-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .dashboard-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;
    }

    .dashboard-item:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      text-align: center;
    }
  </style>
{% endblock %}